#planetbarcomponent #rechts #myPlanets .smallplanet {
	min-height: 62px !important;
}
.smallplanet>.prod {
	display: block !important;
	float: right;
	font-size: 9px;
	text-align: left;
	margin-top: 0px;
}
.smallplanet>.prod>.capa {
	font-size: 8px;
}
.smallplanet>a {
	
}
.smallplanet>span {
	text-align: center;
}
#advicebarcomponent div#banner_skyscraper {
	
}
#planetList .total_prod {
	width: 150px;
	font-size: 11px;
	text-align: left;
	margin-top: 10px;
	position: absolute;
}
#planetList .prod_per_hour,
.needed_fleet {
	font-size: 8px;
	float: right;
}

#technologies li .icon .speed {
	display: inline-block;
	position: absolute;
	box-sizing: border-box;
	width: 100%;
	padding: 0 5px;
	text-align: left;
	font-size: 11px;
	line-height: 15px;
	z-index: 2;
	left: 0;
	top: 0;
	border-bottom-right-radius: 15px;
	background: linear-gradient(#0e1117,#1b222d); color: #ff9600;
}
#moreInfoTable {
	display: inline-block;
	margin-left: 13px;
	font-size: 11px;
}
#moreInfoTable th {
	padding: 3px;
	color: #6f9fc8;
	font-weight: 700;
}
#moreInfoTable td {
	padding:3px;
	color: white;
}
#planetbarcomponent #rechts #myPlanets div.smallplanet a.constructionIcon {
	 /*same positionning than AGR */
	left: 4px;
	top: 0px;
}
#rechts #myPlanets .planet_construction {
    left: 2px;
    top: -13px;
}
#planetbarcomponent #rechts #myPlanets div.smallplanet a.constructionIcon.moon {
	/*same positionning than AGR */
   left: 4px;
   bottom: 0px;
}
#rechts #myPlanets .planet_construction_moon {
    left: 2px;
    bottom: 13px;
}
#myPlanets .planet_construction,
#myPlanets .planet_construction_moon {
    font-size: 9px;
    line-height: 9px;
    color: #848484;
    position: absolute;
    white-space: nowrap;
}

.ago_planets_construction,
.ago_planets_construction_moon {
	display: none;
}



#technologydetails .costs {
	top: 115px;
}

#technologydetails li.resource.icon {
	height: 63px;
}

#technologydetails li.resource.total.icon:before {
	background: none;
	content: 'Σ';
	font-size: 25px;
	line-height: 32px;
}

#technologydetails li.resource.icon .ol-value {
	font-size: 8px;
	line-height: 8px;
	display: block;
}