/** NOUVELLE CSS PLANETES **/
:root {
	--basecolor: rgb(111, 159, 200);
	--percent: 0;
	--metal: rgba(255, 170, 204, 0.63);
	--cristal : rgba(115, 229, 255, 0.78);
	--deuterium: rgb(166, 224, 176);
	--warning: #D29D00;
	--danger: #D43635;
}

.ogl-harvestOptions {
	float: left;
	margin-top: 0px;
}

div#banner_skyscraper {
	position: absolute;
	top: 7.5em !important;
	left: auto !important;
	right: -300px !important;
}
div#banner_skyscraper a.close_details {
	right: -20px !important;
}


#planetbarcomponent #myPlanets {
	width: 186px !important;
}

#planetList { /** from infinity **/
	background: rgb(13, 16, 20);
	border-width: 2px;
	border-style: solid;
	border-color: rgb(0, 0, 0);
	border-image: initial;
	padding: 5px;
}

#pageContent #right #planetbarcomponent #planetList,
#pageContent #mainContent #planetbarcomponent #planetList{
	display: flex;
	flex-direction: column;
	width: 420px !important;
}

body.oglight #pageContent #right #planetbarcomponent #planetList,
body.oglight #pageContent #mainContent #planetbarcomponent #planetList {
	width: 435px !important;
}

#pageContent #right #planetbarcomponent.noprod #planetList,
#pageContent #mainContent #planetbarcomponent.noprod #planetList{
	width: 174px !important;
}

#pageContent #right #planetbarcomponent #rechts .smallplanet,
#pageContent #mainContent #planetbarcomponent #rechts .smallplanet{
	display: flex;
	flex-direction: row;
	grid-column-gap: 0px;
	width: 425px !important;
	height: 65px !important;
	margin: 0 0 5px 0;
}

/* css commun */
#pageContent #right #planetbarcomponent #rechts .smallplanet>a.planetlink,
#pageContent #right #planetbarcomponent #rechts .smallplanet>a.moonlink,
#pageContent #right #planetbarcomponent #rechts .smallplanet>.prod,
#pageContent #mainContent #planetbarcomponent #rechts .smallplanet>a.planetlink,
#pageContent #mainContent #planetbarcomponent #rechts .smallplanet>a.moonlink,
#pageContent #mainContent #planetbarcomponent #rechts .smallplanet>.prod {

	position: relative;
	height: 65px !important;
	/*border: 1px solid red;*/
	top: 0px;
	left: 0px;
	padding: 0px;
}

#pageContent #right #planetbarcomponent.noprod #rechts .smallplanet,
#pageContent #mainContent #planetbarcomponent.noprod #rechts .smallplanet,
#pageContent #right #planetbarcomponent.noprod #rechts .smallplanet>a.planetlink,
#pageContent #right #planetbarcomponent.noprod #rechts .smallplanet>a.moonlink,
#pageContent #mainContent #planetbarcomponent.noprod #rechts .smallplanet>a.planetlink,
#pageContent #mainContent #planetbarcomponent.noprod #rechts .smallplanet>a.moonlink,
#pageContent #right #planetbarcomponent.noenergie.nosum #rechts .smallplanet,
#pageContent #mainContent #planetbarcomponent.noenergie.nosum #rechts .smallplanet,
#pageContent #right #planetbarcomponent.noenergie.nosum #rechts .smallplanet>a.planetlink,
#pageContent #right #planetbarcomponent.noenergie.nosum #rechts .smallplanet>a.moonlink,
#pageContent #mainContent #planetbarcomponent.noenergie.nosum #rechts .smallplanet>a.planetlink,
#pageContent #mainContent #planetbarcomponent.noenergie.nosum #rechts .smallplanet>a.moonlink{
	height: 41px !important;
}

#pageContent #right #planetbarcomponent.noenergie.sum #rechts .smallplanet,
#pageContent #mainContent #planetbarcomponent.noenergie.sum #rechts .smallplanet,
#pageContent #right #planetbarcomponent.noenergie.sum #rechts .smallplanet>a.planetlink,
#pageContent #right #planetbarcomponent.noenergie.sum #rechts .smallplanet>a.moonlink,
#pageContent #mainContent #planetbarcomponent.noenergie.sum #rechts .smallplanet>a.planetlink,
#pageContent #mainContent #planetbarcomponent.noenergie.sum #rechts .smallplanet>a.moonlink,
#pageContent #right #planetbarcomponent.energie.nosum #rechts .smallplanet,
#pageContent #mainContent #planetbarcomponent.energie.nosum #rechts .smallplanet,
#pageContent #right #planetbarcomponent.energie.nosum #rechts .smallplanet>a.planetlink,
#pageContent #right #planetbarcomponent.energie.nosum #rechts .smallplanet>a.moonlink,
#pageContent #mainContent #planetbarcomponent.energie.nosum #rechts .smallplanet>a.planetlink,
#pageContent #mainContent #planetbarcomponent.energie.nosum #rechts .smallplanet>a.moonlink{
	height: 53px !important;
}

/* css planete */
#pageContent #right #planetbarcomponent #rechts .smallplanet>a.planetlink,
#pageContent #mainContent #planetbarcomponent #rechts .smallplanet>a.planetlink {
	width: 105px;
}

.moonlink.active,
.planetlink.active { /** from infinty **/
	background: linear-gradient(to right, rgb(136, 108, 26), rgb(9, 14, 19));
}
.moonlink:hover,
.planetlink:hover { /** from infinty **/
	background: linear-gradient(to right, rgb(99, 51, 17), rgb(9, 14, 19));
}

.smallplanet img { /** from infinty **/
	display: block;
	height: 25px;
	width: 25px;
	z-index: 2;
	box-shadow: rgb(19, 24, 29) 0px 0px 0px 1px !important;
	position: absolute !important;
	left: 82px !important;
	top: 22px !important;
	transition: top 0.2s ease 0s;
	border-radius: 50% !important;
	margin: 0px !important;
}
.smallplanet .moonlink img {  /** from infinty **/
	display: block;
	left: 43px !important;
}
.planetlink .planet-name {  /** from infinty **/
	position: absolute;
	text-overflow: ellipsis;
	width: 105px;
	text-align: left;
	color: rgb(255, 255, 255) !important;
	font-size: 18px !important;
	font-weight: 400 !important;
	top: 3px !important;
	overflow: hidden;
}
.planetlink .planet-koords,
.planetlink .planet-name {  /** from infinty **/
	font-size: 12px !important;
	left: 5px !important;
}
#planetbarcomponent #rechts .planet-koords,
#planetbarcomponent #rechts .planet-name {  /** from infinty **/
	margin-top: 4px !important;
}
.planetlink.active .planet-koords,
.planetlink:hover .planet-koords{  /** from infinty **/
	color: rgb(255, 191, 201) !important;
}

.moonlink {  /** from infinty **/
	width: 60px;
	min-width: 60px;
	left: 0px !important;
	right: 0px !important;
}
.moonlink, .planetlink {  /** from infinty **/
	box-shadow: rgba(255, 255, 255, 0.07) 0px 1px inset, rgba(255, 255, 255, 0.03) 0px 16px inset;
	position: relative !important;
	height: 100% !important;
	top: 0px !important;
	background: linear-gradient(to right, rgb(28, 43, 56) 45%, rgb(9, 14, 19));
	overflow: hidden;
	border-radius: 5px;
	background-position: 0px center !important;
	margin: 0px !important;
	padding: 0px !important;
}

/* css lune */
#pageContent #right #planetbarcomponent #rechts .smallplanet>a.moonlink,
#pageContent #mainContent #planetbarcomponent #rechts .smallplanet>a.moonlink {
	width: 60px;
	margin-left: 5px !important;
}
/* css prod */
#pageContent #right #planetbarcomponent #rechts .smallplanet>.prod,
#pageContent #mainContent #planetbarcomponent #rechts .smallplanet>.prod {
	width: 250px;
	font-size: 8px;
}

#planetbarcomponent #rechts .displayMoonProd .smallplanet>.prod>.planet_prod {
	left: -250px;
}

#planetbarcomponent #countColonies {
	color: #6F9FC8 !important;
	width: 434px !important;
	box-shadow: rgba(255, 255, 255, 0.07) 0px 1px inset, rgba(255, 255, 255, 0.03) 0px 11px inset;
	font-size: 10px;
	display: flex;
	justify-content: space-evenly;
	min-height: 22px !important;
	line-height: 22px !important;
	outline: rgb(0, 0, 0) solid 1px;
	background: linear-gradient(to right, rgb(28, 43, 56) 45%, rgb(9, 14, 19)) !important;
	margin: 0px !important;
}

#planetbarcomponent.noprod #countColonies {
	width: 186px !important;
}

#countColonies .productionSwitcher {width: 250px;}
#countColonies .productionSwitcher .planets_prod {width:250px;}
#countColonies .productionSwitcher .moons_prod {left: 250px; width:250px;}
#countColonies .productionSwitcher.displayMoonProd .planets_prod {left: -250px;}

#countColonies .productionSwitcher {position: absolute; left: 180px; top: 0px; height: 28px; overflow: hidden;}
#countColonies .productionSwitcher .planets_prod {position: absolute; left: 0px; top: 0px;}
#countColonies .productionSwitcher .planets_prod .showMoons {float: right}
#countColonies .productionSwitcher .planets_prod:hover {left: -7px}
#countColonies .productionSwitcher .moons_prod {position: absolute; top: 0px; text-align: right;}
#countColonies .productionSwitcher .moons_prod .showPlanets {float: left}
#countColonies .productionSwitcher .planets_prod,
#countColonies .productionSwitcher .moons_prod {transition: left 0.5s ease 0s; cursor: pointer;}
#countColonies .productionSwitcher.displayMoonProd .moons_prod {left: 0px;}
#countColonies .productionSwitcher.displayMoonProd .moons_prod:hover {left: +7px;}

#countColonies span.planets_label,
#countColonies span.moons_label {
	display: inline-block;
	width: 100px;
	text-align: center;
}

#countColonies span.moons_label {
	margin-left: 50px;
}

#countColonies .ogl_menuOptions {
	position: absolute;
	left: 0;
}

.smallplanet .ogl_moonFleet,
[data-panel="resources"] .smallplanet .ogl_moonFleet {
	right: 309px !important;
}
.smallplanet .ogl_planetFleet,
[data-panel="resources"] .smallplanet .ogl_planetFleet{
	right: 325px !important;
}

.ogl_lockedIcon {
	right: 310px !important;
}

.ogl-sideLock {
	left: 104px !important;
}
.ogl-res {
	margin-left: 17px !important;
}

#planetbarcomponent .textCenter {
	position: absolute;
	left: 5px;
}

.smallplanet>.prod {
	display: block !important;
	float: right;
	font-size: 9.5px !important; /** define all font size of prod display */
	text-align: left;
	margin-top: 0px;
	overflow: hidden;
	position: absolute;
	left: 180px;
	height: 65px;
}

.smallplanet>.prod>.planet_prod,
.smallplanet>.prod>.moon_prod {
	width: 250px;
}

.smallplanet>.prod.miner>.moon_prod {
	left: 250px;
}

.smallplanet>.prod.raider>.moon_prod {
	left: 150px;
}

.prod.raider .planet_prod {
	margin-left: 5px;
}

.planet_prod>.dispo,
.moon_prod>.dispo{
	width: 100px;
	display: inline-block;
	border-bottom: 1px solid #555555;
	position: relative;
	height: 12px;
	line-height: 12px;
	vertical-align: top;
}

.planet_prod>.dispo>span,
.moon_prod>.dispo>span{
	display: inline-block;
	border-bottom: 1px solid white;
	overflow: visible;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 12px;
	width: 0%;
	transition: width 1s ease 0s;
}
.planet_prod>#m_dispo.dispo>span,
.moon_prod>#m_dispo.dispo>span {
	border-color: var(--metal);
}
.planet_prod>#c_dispo.dispo>span,
.moon_prod>#c_dispo.dispo>span {
	border-color: var(--cristal);
}
.planet_prod>#d_dispo.dispo>span,
.moon_prod>#d_dispo.dispo>span {
	border-color: var(--deuterium);
}
.planet_prod>#e_dispo.dispo>span,
.moon_prod>#e_dispo.dispo>span {
	border-color: var(--basecolor);
}

.planet_prod>.dispo>span.middlemark,
.moon_prod>.dispo>span.middlemark {
	border-color: var(--warning) !important;
}
.planet_prod>.dispo>span.overmark,
.moon_prod>.dispo>span.overmark{
	border-color: var(--danger) !important;
}

.smallplanet>.prod>.planet_prod,
.smallplanet>.prod>.moon_prod {
	display: inline-block;
	position: absolute;
	top: 0px;
	transition: left 0.5s ease 0s;
}

.smallplanet>.prod>.planet_prod {
	left: 0px;
}


#planetbarcomponent #rechts .displayMoonProd .smallplanet>.prod>.moon_prod {
	left: 0px;
}

#planetList .total_prod {
	width: 250px;
	margin-left: 173px;
	font-size: 11px;
	text-align: left;
	margin-top: 10px;
	/* position: absolute; */
}
#planetList .prod_per_hour, .prod_per_day,
.needed_fleet {
	font-size: 8px;
	float: right;
}

#m_dispo, .in_flight_metal, .total_prod_metal, .moon_prod>#m_dispo>.middlemark, .moon_prod>#m_dispo>.overmark {
	color: var(--metal) !important;
}
#c_dispo, .in_flight_cristal, .total_prod_cristal, .moon_prod>#c_dispo>.middlemark, .moon_prod>#c_dispo>.overmark{
	color: var(--cristal) !important;
}
#d_dispo, .in_flight_deut, .total_prod_deut, .moon_prod>#d_dispo>.middlemark, .moon_prod>#d_dispo>.overmark {
	color: var(--deuterium) !important;
}
#e_dispo {
	color: var(--basecolor) !important;
}

#technologies li .icon .speed {
	display: inline-block;
	position: absolute;
	box-sizing: border-box;
	width: 100%;
	padding: 0 5px;
	text-align: left;
	font-size: 11px;
	line-height: 15px;
	z-index: 2;
	left: 0;
	top: 0;
	border-bottom-right-radius: 15px;
	background: linear-gradient(#0e1117,#1b222d); color: #ff9600;
}
#moreInfoTable {
	display: inline-block;
	margin-left: 13px;
	font-size: 11px;
}
#moreInfoTable th {
	padding: 3px;
	color: #6f9fc8;
	font-weight: 700;
}
#moreInfoTable td {
	padding:3px;
	color: white;
}
#planetbarcomponent #rechts #myPlanets div.smallplanet a.constructionIcon,
#planetbarcomponent #rechts #myWorlds div.smallplanet a.constructionIcon {
	 /*same positionning than AGR */
	left: 4px;
	top: 0px;
}
#rechts #myPlanets .planet_construction,
#rechts #myWorlds .planet_construction {
    left: 2px;
    top: -13px;
}
#planetbarcomponent #rechts #myPlanets div.smallplanet a.constructionIcon.moon,
#planetbarcomponent #rechts #myWorlds div.smallplanet a.constructionIcon.moon {
	/*same positionning than Ogame vanilla */
	top: 35px;
	left: 15px;
}
#rechts #myPlanets .planet_construction_moon,
#rechts #myWorlds .planet_construction_moon {
    left: 29px;
    bottom: 10px;
}
#myPlanets .planet_construction,
#myPlanets .planet_construction_moon,
#myWorlds .planet_construction,
#myWorlds .planet_construction_moon {
    font-size: 9px;
    line-height: 9px;
    color: #848484;
    position: absolute;
    white-space: nowrap;
}

.ago_planets_construction,
.ago_planets_construction_moon {
	display: none;
}



#technologydetails .costs {
	top: 115px;
}

#technologydetails li.resource.icon {
	height: 63px;
}

#technologydetails li.resource.total.icon:before {
	background: none;
	content: 'Î£';
	font-size: 25px;
	line-height: 32px;
}

#technologydetails li.resource.icon .ol-value {
	font-size: 8px;
	line-height: 8px;
	display: block;
}

span.incomming_fleet {
	position: absolute;
	top: 15px;
	left: 100px;
	opacity: 0.5;
}

span.aquai {
	display: block;
	background-color: rgb(85,85,85);
	height: 2px;
	position: absolute;
	bottom: 0px;
	cursor: help;
}

a.planetlink span.aquai {
	width: 80px;
}

a.moonlink span.aquai {
	width: 40px;
}

span.aquai .percent {
	display: block;
	height: 100%;
	width: 0%;
	background-color: green;
	transition: width 1s ease 0s;
}


figure.planetIcon.debrisField {
	background: url("https://gf1.geo.gfsrv.net/cdnc5/fa3e396b8af2ae31e28ef3b44eca91.gif") no-repeat;
	background-size: 16px;
}


/**
  Fleet 2 improvments
**/
#fleet2 #target {
	width: 195px;
}
/*#fleet2 #target a.planet, #fleet2 #target a.planet_source, #fleet2 #target a.planet_selected, #fleet2 #target a.planet_source_selected {*/
/*	margin-left: 0px !important;*/
/*	padding: 0;*/
/*}*/

#fleet2 #target .coords a.explo {
	background: url("https://gf2.geo.gfsrv.net/cdn14/f45a18b5e55d2d38e7bdc3151b1fee.jpg") no-repeat;
	background-position: -7px -102px;
	width: 36px;
	background-size: 515px;
	border-radius: 5px;
	font-size: 11px;
}

#fleet2 #target .coords a.explo:hover {
	background-position: -7px -55px;
	text-decoration: none !important;
	font-weight: bold;
}

#fleet2 #target .coords a.explo .expeparams {
	color: white;
}
#fleet2 .coords {
	height: 65px !important;
}

#fleet2 #target .coords .custom-coords {
	height: 36px;
}

#fleet2 #target .coords .custom-coords .random-system {
	padding-top: 6px;
}

#fleet2 #target .coords .custom-coords:hover {
	color: white;
	font-weight: bold;
}

input[type="number"] {
	color: rgb(187, 187, 187) !important;
	box-shadow: none !important;
	line-height: 23px !important;
	border-width: 1px !important;
	border-style: solid !important;
	border-color: rgb(58, 72, 86) !important;
	border-image: initial !important;
	background: -webkit-linear-gradient(top, rgb(14, 17, 23) 0px, rgb(35, 43, 51) 100%) !important;
	font-size: 12px;
	height: 20px;
	border-radius: 3px;
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
}

span.oglive.nextlevelresources {
	position: absolute;
	left: 0px;
	top: 20px;
	font-size: 10px;
	font-weight: bold;
	right: 0px;
	background-color: rgb(0 0 0 / 50%);
	padding: 3px;
}


li>a.menubutton {
	position: relative;
}
li>a.menubutton>span.empire_planet,
li>a.menubutton>a.empire_moon {
	position: absolute;
	display: block;
	width: 50%;
	height: 100%;
}
li>a.menubutton>span.empire_planet:before,
li>a.menubutton>a.empire_moon:before {
	content: ' ';
	height: 20px;
	width: 20px;
	display: inline-block;
	background-size: 60px;
	background-repeat: no-repeat;
	background-position-y: 3px;
	margin-top: 3px;
	position: absolute;
}

li>a.menubutton>span.empire_planet:hover:before,
li>a.menubutton>a.empire_moon:hover:before {
	background-position-y: -14px;
}

li>a.menubutton>span.empire_planet {
	top: 0px;
	left: 0px;
}
li>a.menubutton>span.empire_planet:before {
	background-position-x: 0px;
	left: 10px;
}

li>a.menubutton>a.empire_moon {
	top: 0px;
	right: 0px;
}
li>a.menubutton>a.empire_moon:before {
	background-position-x: -20px;
	right: 10px;
}

#ogameliveparamsbutton {
	float: right;
	display: inline-block;
	font-size: 17px !important;
	margin-right: 8px;
}

#ogameliveparamsbutton:hover {
	color: #e9a267;
}


#ogameliveparameters {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}

#ogameliveparameters .parameters-content {
	width: 50%;
	background-color: #171717;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	position: relative;
	min-height: 150px;
}

#ogameliveparameters .parameters-content .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

#ogameliveparameters .parameters-content .close:hover,
#ogameliveparameters .parameters-content .close:focus {
	color: red;
	text-decoration: none;
	cursor: pointer;
}

#ogameliveparameters .parameters-content h1,
#ogameliveparameters .parameters-content h2 {
	padding-top: 8px;
	padding-bottom: 4px;
}
#ogameliveparameters .parameters-content h1 { font-size: 18px; color: rgb(255,255,255) }
#ogameliveparameters .parameters-content h2 { font-size: 15px; color: #999999 }

#ogameliveparameters .parameters-content .parameter {
	padding: 3px 0;
}

#ogameliveparameters .parameters-content .parameter:hover {
	background-color: #2d2d2d;
}

#ogameliveparameters .parameters-content .parameter label {
	display: inline-block;
	width: 200px;
}
#ogameliveparameters .parameters-content .parameter .parameter-value {
	width: 100px;
	visibility: visible;
}


#left, #leftMenu {
	position: relative;
}

#flights {
	position: absolute;
	right: 160px;
	width: 360px;
	top: -30px;
}
#leftMenu #flights {
	right: 170px;
}

body.ogameinfinity #flights {
	right: 160px;
}

body.ogameinfinity #leftMenu #flights {
	right: 224px;
}

#planetbarcomponent {
	position: relative;
}

#planetbarcomponent #flights {
	left: 435px;
	top: -40px;
}

body.ogameinfinity #planetbarcomponent #flights {
	top: -31px;
}

body.ogameinfinity #planetbarcomponent #flights.noprod {
	left: 313px;
}

#planetbarcomponent #flights.noprod {
	left: 189px;
}


#OGameLiveEvents {
	background: transparent url("//gf1.geo.gfsrv.net/cdn9e/4f73643e86a952be4aed7fdd61805a.gif") 5px 0px repeat-y;
	width: 100%;
	margin: 0;
	padding: 5px 10px 0 10px;
	text-align: center;
	border-spacing: 0;
	background-size: 700px !important;
}

#OGameLiveEvents tr {
	box-shadow: rgb(13, 16, 20) 0px 0px 0px 0px;
}

#OGameLiveEvents thead .fleft {
	float: none;
}

#OGameLiveEvents td.countDown {
	text-align: right;
}

#OGameLiveEvents .eventFleet > td:not([class*="icon_movement"]) {
	padding: 2px;
	border-top: 1px solid rgba(51, 51, 51, 0.5);
}

#OGameLiveEvents .eventFleet[data-mission-type="15"] {
	display: table-row;
	opacity: 0.7;
}

#OGameLiveEvents .eventFleet[data-mission-type="15"][data-return-flight="false"],
#OGameLiveEvents .eventFleet[data-mission-type="18"][data-return-flight="false"] {
	/*display: none;*/
}

#OGameLiveEvents .icon {
	opacity: 0.5;
}

#OGameLiveEvents .icon:hover {
	opacity: 1;
}

#rechts .smallplanet a.alert {
	right: auto !important;
	left: 102px !important;
	top: 5px !important;
}

.OGameClock>span {
	color: red;
}
